dsui-ribbon {
    position: relative;
    height: 96px;
    display: block;
    left: 0px;
    top: 0px;
    right: 0px;
}
dsui-ribbon ribbon-tabs {
    position: absolute;
    height: 24px;
    left: 0px;
    right: 0px;
    top: 4px;
    display: block;
    overflow: hidden;
}

dsui-ribbon tabs-divider {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 1px;
    background-color: rgba(0,0,0,0.25);
}

dsui-ribbon ribbon-items-container {
    position: absolute;
    left:64px;
    top:0px;
    right:0px;
    bottom: 0px;
    overflow: hidden;
}

dsui-ribbon ribbon-tab-item {
    height: 24px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 75%;
    line-height: 23px;
    box-sizing: border-box;
    border: none;
    margin-left: 12px;
    color: rgba(0,0,0,0.50);
} 

dsui-ribbon ribbon-tab-item:focus {
    outline: none;
}

dsui-ribbon ribbon-tab-item.active {
    background-color: white;
    border: solid 1px  rgba(0,0,0,0.25);
    border-bottom: solid 1px white;
    color: black;
}
dsui-ribbon ribbon-content {
    position: absolute;
    padding-left:64px;
    top: 28px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
    overflow: hidden;
    background-color: white;
}

dsui-ribbon ribbon-tab {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
}

dsui-ribbon ribbon-group {
    margin: 4px;
    border-right: solid 1px rgba(0,0,0,0.25);
    min-width: 64px;
}

dsui-ribbon ribbon-group ribbon-group-label {
    font-size: 50%;
    text-overflow: ellipsis;
    text-align: center;
    display:block;
}

dsui-ribbon ribbon-group .md-button{
    min-width: 48px;
    min-height: 32px;
    line-height: 0px;
    margin-left: 4px;
    margin-right: 4px;
}

dsui-ribbon action-button-caption {
    text-transform: none;
    font-size: 75%;
    display:block;
    margin-top: 6px;
    margin-bottom: 6px;
}