<ribbon-tabs>
    <tabs-divider></tabs-divider> 
    <ribbon-items-container>   
        <ribbon-tab-item ng-repeat="section in sections" ng-hide="!section.groups || !section.groups.length" ng-class="{'active':section == selected}" ng-click="$ctrl.selectSection(section)">
            <span ng-bind="section.title"></span>
        </ribbon-tab-item>
    </ribbon-items-container>
</ribbon-tabs>
<ribbon-content>
    <ribbon-tab ng-repeat="section in sections" ng-hide="section != selected">
        <ribbon-group ng-repeat="group in section.groups">
            <ribbon-group-label >
                <span ng-bind="group.title"></span>
            </ribbon-group-label>
            <ribbon-group-content ribbon-group-id="group.title">
                <md-button ng-repeat="action in group.actions">
                    <md-icon>description</md-icon>
                    <action-button-caption ng-bind="action.title"></action-button-caption>                    
                </md-button>
            </ribbon-group-content>
        </ribbon-group>
    </ribbon-tab>
</ribbon-content>