<md-toolbar layout="row">
    <md-button class="md-icon-button" aria-label="Menu">
         <md-icon>&#xE5D2;</md-icon>
    </md-button>
    <md-button class="button">John Smith</md-button>
    <md-button class="button">Oct 10, 2016</md-button>
    <md-button class="button">Media</md-button>
</md-toolbar>