dsui-default-layout {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    display: block;
}

dsui-default-layout main-panel, dsui-default-layout outline-panel, 
dsui-default-layout side-panel, dsui-default-layout bottom-panel,
dsui-default-layout top-panel {
    position:absolute;
    overflow: hidden;
    display: block;
    border: solid 1px rgba(0,0,0,0.25);
    box-sizing: border-box;
}

/*dsui-default-layout .animate-resize {
    transition-duration: 0.1s;
    transition-timing-function: linear;
    transition-property: left top right bottom width height;
}

dsui-default-layout .animate-resize.ng-hide {
    opacity: 0;
}*/

dsui-default-layout placeholder {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    color: rgba(0,0,0,0.5);
    font-size: 70%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

dsui-default-layout .main-menu-button.md-fab {
    position: absolute;
    left: 0;
    top: 0;
    background-color: white !important;
    background-image: url(/assets/images/logo-menu.png);
    background-origin: border-box;
    background-size: 80% 80%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
dsui-default-layout .main-menu-button.md-fab.md-focused {
    background-color: white !important;
}

dsui-default-layout .md-button.md-fab img {
    width: 28px;
    height: 28px;
}

dsui-default-layout modal-dialog-panel {
    display: block;
}