<dsui-ribbon ng-style="layout.ribbon.style"></dsui-ribbon>
<top-panel ng-show="layout.top.isOpen" ng-style="layout.top.style" ui-view="top" class="animate-resize">
    <placeholder>Top</placeholder>
</top-panel>
<outline-panel ng-show="layout.outline.isOpen" ng-style="layout.outline.style" ui-view="outline" class="animate-resize">
    <placeholder>Outline</placeholder>
</outline-panel>
<main-panel ng-style="layout.main.style" ui-view="content" class="animate-resize">
    <placeholder>Content</placeholder>
</main-panel>
<side-panel ng-show="layout.side.isOpen" ng-style="layout.side.style" ui-view="side" class="animate-resize">
    <placeholder>Side</placeholder>
</side-panel>
<bottom-panel ng-show="layout.bottom.isOpen" ng-style="layout.bottom.style" ui-view="bottom" class="animate-resize">
    <placeholder>Bottom</placeholder>
</bottom-panel>
<md-sidenav class="md-sidenav-left" md-component-id="left_main" md-whiteframe="4" ui-view="menu">
    <placeholder>Main menu</placeholder>    
</md-sidenav>
<md-button class="md-fab main-menu-button" ng-click="$main.toggleMenu()"></md-button>
<!-- Temporary here -->
<dsui-ribbon-group ribbon-section-id="Layout demo" ribbon-group-id="Toggle">
    <md-button ng-click="layout.top.isOpen=!layout.top.isOpen">
        <md-icon>T</md-icon>
        <action-button-caption>Top</action-button-caption>
    </md-button>    
    <md-button ng-click="layout.outline.isOpen=!layout.outline.isOpen">
        <md-icon>O</md-icon>
        <action-button-caption>Outline</action-button-caption>
    </md-button>
    <md-button ng-click="layout.side.isOpen=!layout.side.isOpen">
        <md-icon>S</md-icon>
        <action-button-caption>Side</action-button-caption>
    </md-button>
    <md-button ng-click="layout.bottom.isOpen=!layout.bottom.isOpen">
        <md-icon>B</md-icon>
        <action-button-caption>Bottom</action-button-caption>
    </md-button>
</dsui-ribbon-group>