<h1>Demo1</h1>
<dsui-ribbon-group ribbon-section-id="Action group" ribbon-group-id="Dynamic!">
    <md-button ng-click="$ctrl.test()">
        <md-icon>description</md-icon>
        <action-button-caption>Test 1</action-button-caption>
    </md-button>
    <md-button ng-click="$ctrl.test()" ng-show="enabled">
        <md-icon>star</md-icon>
        <action-button-caption>Test 2</action-button-caption>
    </md-button>
</dsui-ribbon-group>
<dsui-ribbon-group ribbon-section-id="Dynamic group" ribbon-group-id="Dynamic2" ng-if="enabled">
    <md-button ng-click="$ctrl.test()">
        <md-icon style="color:#ff0000">email</md-icon>
        <action-button-caption>Test 1</action-button-caption>
    </md-button>
    <md-button ng-click="$ctrl.test()" ng-show="enabled" ng-disabled="true">
        <md-icon>account_circle</md-icon>
        <action-button-caption>Test 2</action-button-caption>
    </md-button>
</dsui-ribbon-group>
<a ui-sref="app.state2">Demo 2</a>