<md-dialog-content class="md-padding">
    <md-toolbar class="md-padding">Wizard demo - Page 3 (final)</md-toolbar>
</md-dialog-content>
<md-dialog-actions>
    <md-button ng-click="$modalCancel()">Cancel</md-button>    
    <md-button ui-sref="^.page2">Back</md-button>
    <md-button class="md-primary md-raised" ng-click="$modalOK()">Finish</md-button>
</md-dialog-actions>