<md-dialog-content class="md-padding">
    <md-toolbar class="md-padding">Wizard demo - Page 1 (initial)</md-toolbar>
    <p class="md-padding">
        The modal dialogs are nested in the state.
    </p>
    <p class="md-padding">
        The steps are just pages.
    </p>
</md-dialog-content>
<md-dialog-actions>
    <md-button ng-click="$modalCancel()">Cancel</md-button>    
    <md-button class="md-primary md-raised" ui-sref="^.page2">Next</md-button>
</md-dialog-actions>