<md-dialog-content class="md-padding">
    <md-toolbar class="md-padding">Wizard demo - Page 2</md-toolbar>
</md-dialog-content>
<md-dialog-actions>
    <md-button ui-sref="^.page1">Back</md-button>
    <md-button ng-click="$modalCancel()">Cancel</md-button>    
    <md-button class="md-primary md-raised" ui-sref="^.page3">Next</md-button>
</md-dialog-actions>