<md-dialog-content class="md-padding">
    <md-toolbar class="md-padding">New Patient</md-toolbar>
    <md-content class="md-padding" layout="column">
        <div layout="row">
            <md-input-container flex="30">
                <label>First Name</label>
                <input type="text">
            </md-input-container>
            <md-input-container flex="10">
                <label>M.I.</label>
                <input type="text">
            </md-input-container>
            <md-input-container flex="60">
                <label>Last Name</label>
                <input type="text">
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container flex>
                <label>Date of Birth</label>
                <md-datepicker ng-model="dob"></md-datepicker>
            </md-input-container>
            <md-input-container flex>
                <label>Primary Doctor</label>
                <md-select ng-model="owner">
                    <md-option ng-value="drdscope">Dr. DScope</md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex>
                <label>MRN number</label>
                <input type="text">
            </md-input-container>
        </div>
    </md-content>
</md-dialog-content>
<md-dialog-actions>
    <md-button ng-click="$modalCancel()">Cancel</md-button>    
    <md-button class="md-primary md-raised" ng-click="$modalOK()">Create</md-button>
</md-dialog-actions>
